MONO_SECRET_KEY=
MONO_APP_ID=
RECLAIM_APP_ID=
RECLAIM_APP_SECRET=
MPESA_PROVIDER_ID=
CRE_TRIGGER_URL=
CRE_AUTH_KEY=
RPC_URL_BASE_SEPOLIA=https://sepolia.base.org
CREDIT_IDENTITY_ADDRESS=
LOAN_MANAGER_ADDRESS=
PORT=3001
